In [6]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot 
from scipy import stats

In [7]:
df =pd.read_csv("C:/Users/pawan/datascience assignment/Hypotthsis testing/BuyerRatio.csv")
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [8]:
Males = [50,142,131,70]
Females = [435,1523,1356,750]
Sales = [Males,Females]

In [9]:
chistats = stats.chi2_contingency(Sales)
print('Test t=%f p-value=%f' % (chistats[0], chistats[1]))
print('Interpret by p-Value')
if chistats[1] < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

Test t=1.595946 p-value=0.660309
Interpret by p-Value
we accept null hypothesis