In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot 
from scipy import stats

In [3]:
df = pd.read_csv("C:/Users/pawan/datascience assignment/Hypotthsis testing/Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [5]:
df.tail()

    Phillippines   Indonesia       Malta       India
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

In [9]:
Phillippines =df.Phillippines.value_counts()
Phillippines

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [10]:
Indonesia =df.Indonesia.value_counts()
Indonesia

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [11]:
Malta=df.Malta.value_counts()
Malta

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [12]:
India =df.India.value_counts()
India

Error Free    280
Defective      20
Name: India, dtype: int64

In [13]:
ErrorFree = [271,267,269,271]
Defective = [29,33,31,29]

In [14]:
chistats_defective = stats.chi2_contingency([ErrorFree,Defective])
print('Test t=%f p-value=%f' % (chistats_defective[0], chistats_defective[1]))
print('Interpret by p-Value')
if chistats_defective[1] < 0.05:
  print('we reject null hypothesis')
else:
  print('we fail to reject null hypothesis')

Test t=0.401472 p-value=0.939938
Interpret by p-Value
we fail to reject null hypothesis